<%= form_for [@post, @comment] do |f| %>
	<p>
		<%= f.label :author %>
		<%= f.text_field :author %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :comment_body %>
		<%= f.text_field :comment_body %>
	</p>
	<p>
		<%= f.submit %>
	</p>
	
<% end %>
